<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933414058298-7jeord8fo9ifcbinp3korp16b16oe0l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933414058298-7jeord8fo9ifcbinp3korp16b16oe0l8</string>
	<key>API_KEY</key>
	<string>AIzaSyB2nfe4SYjL36erEX4gVVg_qVx0Fp5XYuo</string>
	<key>GCM_SENDER_ID</key>
	<string>933414058298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Testuser.kifaproductscreen-1-1</string>
	<key>PROJECT_ID</key>
	<string>kifa-243a3</string>
	<key>STORAGE_BUCKET</key>
	<string>kifa-243a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933414058298:ios:09272e03ce7c6a58463803</string>
</dict>
</plist>